.content article p {
  text-align: left;
  text-justify: auto;
  -ms-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;
}

.content article a.external-link:not(:has(img))::after {
  content: none;
}
